*.ts
*.md
*.mjs
*.map
*.lock
*.txt
*.yml
*.json
node_modules/@discordjs/collection/LICENSE
node_modules/@discordjs/form-data/License
node_modules/abort-controller/LICENSE
node_modules/asynckit/LICENSE
node_modules/combined-stream/License
node_modules/delayed-stream/.npmignore
node_modules/delayed-stream/License
node_modules/delayed-stream/Makefile
node_modules/discord-buttons/.prettierrc
node_modules/discord-buttons/LICENSE
node_modules/event-target-shim/LICENSE
node_modules/mime-db/LICENSE
node_modules/mime-types/LICENSE
node_modules/prism-media/LICENSE
node_modules/tweetnacl/LICENSE
node_modules/ws/LICENSE
.DS_Store
